@import '../../../assets/styles/variables.scss';

.container{
    width:100%;
    margin-top:20px;
    text-align:center;
    height: 80%;
}

table{
    min-width: 80%;
    margin: auto;
    text-align: left;
}

.mat-column-party {
    margin-left: 10px;
}

.table-row {
    border: 1px solid #e7e7e7;
    font-weight: bold;
    height: 70px !important;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.overlay{
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.286);
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
  }

.mat-table{
    width: 100%;
    background-color: rgba(246, 237, 218, 0.8);
}

.mat-cell{
    padding: 0 8px 8px 0;
    width: 25%;
    font-weight: bold;
}

.filter-row{
    position: relative
}
.normal-filter{
    display:inline-block;
    text-align: center;
}

.advanced-filters{
    display:inline-block;
    text-align: center;
}

.button{
    margin-left: 5px;
    display:inline-block;
    position: absolute;

}

button.mat-raised-button{
    background-color: $congressWhite;
    border: black;
  }

.mat-row:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 5px #3b3b3b;
}

.mat-header-cell{
    color:black;
    font-size:large;
    font-weight: bold;
}

.republican{
    background-color: $republicanRed;
}

.democrat{
    background-color: $democratBlue;
}

.otherParty{
    background-color: $otherOrange;
}

::ng-deep .mat-paginator{
    background-color: rgba(246, 237, 218, 0.8);
}

::ng-deep.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $congressBlue;
}
::ng-deep .mat-form-field-underline{
    background-color: $congressBlue !important;
}
::ng-deep .mat-form-field-ripple{
    background-color: $congressBlue !important;
}

::ng-deep .mat-form-field-label{
    color: $congressBlue !important;
}
::ng-deep .mat-form-field-infix{
    color: $congressBlue !important;
}

@media (max-height:899px){
    .container{
        width:100%;
        margin-top:20px;
        text-align:center;
        height: 120%;
    }
}