<footer>
    <div class="wrapper">
        <div class="text">&copy; Leonel Zambroni for Leniolabs 2021</div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/leonel-zambroni/" target="_blank">
                <img src="../../../assets/images/linkedin-icon.png" alt="linkedin" width="40" height="40">
            </a>
            <a href="https://github.com/leonelzambroni" target="_blank">
                <img src="../../../assets/images/github-icon.png" alt="github" width="40" height="40">
            </a>
            <a href="mailto:leozambroni@gmail.com?subject=You are hired!" target="_blank">
                <img src="../../../assets/images/email-icon.png" alt="email" width="40" height="40">
            </a>
        </div>
    </div>
</footer>