@import "../../../assets/styles/variables.scss";


.mat-toolbar{
    background-color:$congressBlue;
}

.header-text{
    text-align: center;
    justify-content: center;
    color:$congressWhite;
}

.header-text:hover{
    cursor: pointer;
}
.img:hover{
    cursor:pointer;
}

@media (max-width: 599px){
    img{
        width: 60px;
        height: 60px;
    }
}