<div class="container">

    <button mat-icon-button color="$congressBlue" aria-label="back button" class="back-button" (click)="back()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h1 class="title">Congressman</h1>
    <div [ngClass]="{'overlay': loading}">
        <div class="spinner-container">
            <mat-spinner class="spinner" *ngIf="loading" style="margin:0 auto;" mode="indeterminate" value="50">
            </mat-spinner>
        </div>
    </div>


    <div class="congressman">
        <div class="info">
            <div id="col1">
                <h2 id="name">
                    <span class="title">Name: </span>{{fullName}}
                </h2>
                <h2 id="birth">
                    <span class="title">Date of Birth: </span> {{dateOfBirth | date: 'MM/dd/yyyy'}}
                </h2>
                <!-- <h2 id="inOffice" [ngClass]="{'active': inOffice == 'true', 'inactive': inOffice == 'false'}">
                    <span class="title">Active: </span> {{inOffice}}
                </h2> -->

                <!-- <label id="last-updated">
                {{lastUpdated | date: 'medium'}}
            </label> -->
            </div>

            <div id="col2">
                <h2 id="party">
                    <span class="title">Current Party: </span>{{currentParty}}
                </h2>
                <h2 id="gender">
                    <span class="title">Gender: </span> {{gender}}
                </h2>
                <h2 id="recent-vote">
                    <span class="title">Most recent Vote: </span> {{mostRecentVote | date: 'MM/dd/yyyy'}}
                </h2>

                <!-- <label id="last-updated">
                {{lastUpdated | date: 'medium'}}
            </label> -->
            </div>

        </div>

        <div class="row table-container">
            <h2 class="roles">Roles</h2>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Position </th>
                    <td mat-cell *matCellDef="let role"> {{role.short_title + ' ' + role.chamber + ' ' + role.congress}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef> Service </th>
                    <td mat-cell *matCellDef="let role"> {{ (role.start_date | date: 'MM/dd/yyyy') + ' - ' +
                        (role.end_date | date: 'MM/dd/yyyy')}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="party">
                    <th mat-header-cell *matHeaderCellDef> Party </th>
                    <td mat-cell *matCellDef="let role"> {{role.party}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="bills-sponsored">
                    <th mat-header-cell *matHeaderCellDef> Bills </th>
                    <td mat-cell *matCellDef="let role"> {{role.bills_sponsored }}
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

        </div>

        <div class="row wrapper">
            <h2>Get in touch</h2>
            <div class="social-media">
                <a *ngIf="twitter" href="{{twitter}}" target="_blank">
                    <img src="../../../assets/images/twitter-icon.png" alt="linkedin" width="40" height="40">
                </a>
                <a *ngIf="facebook" href="{{facebook}}" target="_blank">
                    <img src="../../../assets/images/facebook-icon.png" alt="github" width="40" height="40">
                </a>
                <a *ngIf="youtube" href="{{youtube}}" target="_blank">
                    <img src="../../../assets/images/youtube-icon.png" alt="email" width="40" height="40">
                </a>
                <a *ngIf="website" href="{{website}}" target="_blank">
                    <img src="../../../assets/images/website-icon.png" alt="email" width="40" height="40">
                </a>
                <h3 *ngIf="!twitter && !facebook && !youtube && !website">No social media found</h3>
            </div>
        </div>
    </div>

</div>