$congressBlue: #22427b;
$congressBronze: #eba35b;
$congressBrown: #604937;
$congressWhite: #f6eddb;
$republicanRed: rgba(255, 0, 0, 0.3);
$democratBlue: rgba(0, 0, 255, 0.3);
$otherOrange:rgba(255, 149, 14, 0.3);